// Variable overrides
$font-color:#333 !default;
$font-size:14px !default;
$font-family:'Open Sans', sans-serif !default;
$font-family-titles: "Oswald","Helvetica Neue",Helvetica,sans-serif !default;

$main-color: #34bfc2 !default;
$secondary-color:#474747 !default;
$third-color:#4A4B8C;

$error-color: #db4444;
$success-color: #4abd6a;
